@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
    font-size: 0.8em;
    font-family: 'Kumbh Sans', sans-serif;

    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.page-filter {
    content: '\A';
    position: absolute;
    width: 100%; 
    height:100%;
    top:0; 
    left:0;
    background:rgba(0,0,0,0.5);
    opacity: 1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}

.card-box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card-box {
    background-color: azure;
    width: 25vw;
    height: 50vh;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 16px -7px #000000; 
    box-shadow: 0px 0px 16px -7px #000000;  

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3em;
}

.card-head-bg {
    background: url("./images/card-bg.jpg") no-repeat center;
    background-size: 100%;
    width: 100%;
    height: 35%;
    border-radius: 5px 5px 0 0;
    
}

.profile-picture {
    width: 25%;
    height: 25%;
    border: 3px solid azure;
    border-radius: 60%;
    background: url("./images/pfp.jpg") no-repeat center;
    background-size: 100%;
    margin-top: -7.5em;
}

.pf-main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 100%;
    padding-bottom: 2em;
    margin-top: -2em;

    border-bottom: 0.5px solid grey;
}

.pf-name, .pf-stat > span:first-child {
    font-weight: 700;
}

.pf-stat > span:first-child {
    font-size: 1.4em;
}

.pf-stats-wrapper {
    display: flex;
    flex-direction: row nowrap;
    align-items: center;
    gap: 5em;
}

.pf-stat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1100px) {
    body {
        font-size: 0.6em;
    }
    
    .card-box {
        height: 35vh;
    }
}

@media screen and (max-width: 760px) {
    body {
        font-size: 0.5em;
    }
    
    .card-box {
        height: 30vh;
    }
}

@media screen and (max-width: 615px) {
    body {
        font-size: 0.3em;
    }
    
    .card-box {
        height: 20vh;
    }
}

@media screen and (max-width: 410px) {
    body {
        font-size: 0.2em;
    }
    
    .card-box {
        height: 15vh;
    }
}

@media screen and (max-width: 350px) {
    body {
        font-size: 0.1em;
    }
    
    .card-box {
        height: 13vh;
    }

    .profile-picture {
        border: 2px solid azure;
        margin-top: -15em;
    }
}